In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv(r'C:\Users\shett\OneDrive\Desktop\DataAnalysis\imdb\imdb_top_1000.csv')

df.drop("Poster_Link",axis=1,inplace=True)

Which movie genres are most common in the top 1000?

Who are the top 10 directors with the most movies on the list?

Is there a correlation between a movie's rating (IMDB_Rating) and its gross earnings (Gross)?

How have movie runtimes (Runtime) changed over the decades?

Which actors (Star1, Star2, etc.) appear most frequently in this list?

In [30]:
df['Genre']=df['Genre'].apply(lambda x:sorted(g.strip() for g in x))
indi_genres=df['Genre'].explode()

In [31]:

df['GenreCombo'] = df['Genre'].apply(lambda x: ",".join(sorted(g.strip() for g in x)))
combo_counts = df['GenreCombo'].value_counts()

In [32]:
print(f"most common genres individually :{indi_genres.value_counts()}")
print(f"most common goruped genres :{combo_counts}")

most common genres individually :Genre
Drama        724
Comedy       233
Crime        209
Adventure    196
Action       189
Thriller     137
Romance      125
Biography    109
Mystery       99
Animation     82
Sci-Fi        67
Fantasy       66
History       56
Family        56
War           51
Music         35
Horror        32
Western       20
Film-Noir     19
Sport         19
Musical       17
Name: count, dtype: int64
most common goruped genres :GenreCombo
Drama                      85
Drama,Romance              37
Comedy,Drama               35
Comedy,Drama,Romance       31
Action,Crime,Drama         30
                           ..
Action,Adventure,Family     1
Action,Crime,Mystery        1
Animation,Drama,Romance     1
Drama,War,Western           1
Adventure,Comedy,War        1
Name: count, Length: 201, dtype: int64

In [23]:
df['Gross']=df['Gross'].str.replace(",","").astype(float)
df[['No_of_Votes','Gross']].corr()

             No_of_Votes     Gross
No_of_Votes     1.000000  0.574393
Gross           0.574393  1.000000

In [38]:
nx=df.explode('Genre')
genre_votes = nx.groupby('GenreCombo')['No_of_Votes'].sum().sort_values(ascending=False)
print(genre_votes)

GenreCombo
Action,Adventure,Sci-Fi       43907394
Adventure,Animation,Comedy    29682966
Crime,Drama,Thriller          29308209
Action,Adventure,Drama        27887577
Action,Crime,Drama            25562391
                                ...
Comedy,Crime,Mystery             79926
Drama,Musical                    60546
Drama,Fantasy                    59364
Animation,Sci-Fi                 50458
Thriller                         27733
Name: No_of_Votes, Length: 201, dtype: int64

In [40]:
df[['IMDB_Rating','Gross']].corr(method='spearman')

             IMDB_Rating     Gross
IMDB_Rating     1.000000 -0.049691
Gross          -0.049691  1.000000

In [41]:
df[['IMDB_Rating','Gross']].corr()

             IMDB_Rating     Gross
IMDB_Rating     1.000000  0.095923
Gross           0.095923  1.000000

In [6]:
 df['Director'].value_counts().head(10)

Director
Alfred Hitchcock     14
Steven Spielberg     13
Hayao Miyazaki       11
Martin Scorsese      10
Akira Kurosawa       10
Stanley Kubrick       9
Woody Allen           9
Billy Wilder          9
Quentin Tarantino     8
Christopher Nolan     8
Name: count, dtype: int64

In [8]:
 df['Star2'].value_counts().head(10)

Star2
Emma Watson     7
Matt Damon      5
Ed Harris       4
Kate Winslet    4
Brad Pitt       4
Julie Delpy     4
Ian McKellen    4
Chris Evans     4
Diane Keaton    4
Meryl Streep    4
Name: count, dtype: int64

In [11]:
 df['Star1'].value_counts().head(10)

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
Humphrey Bogart       9
Johnny Depp           8
Christian Bale        8
James Stewart         8
Toshirô Mifune        7
Name: count, dtype: int64